################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/BattleSword.UI.Prototype/bin
/BattleSword.UI.Prototype/obj/Debug
/BattleSword.UI.Prototype/Properties
